sources:
  reddit:
    - name: "r/ralsei"
      url: "/r/ralsei/"
      weight: 5
    - name: "r/Deltarune"
      url: "/r/Deltarune/"
      weight: 2
    - name: "r/undertale"
      url: "/r/Undertale/"
      weight: 1
  twitter:
    - name: "Bi-Hourly Ralsei"
      url: "https://x.com/bihourlyralsei"
      weight: 5
      
settings: 
  default:
    user-agent: "ralseibot/1.0 by BananaJeanss"
    headers:
      Accept: "application/json"
      Content-Type: "application/json"
    timeout-ms: 5000
    max-retries: 3